
<!DOCTYPE html>
<html lang="en" ng-app='myapp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Jon Pabico - Web Developer</title>

    <!-- layout.css file -->
    <link rel="stylesheet" type="text/css" href="layout.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Droid+Sans&effect=shadow-multiple">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>

  </head>
  <body ng-controller='BigController as big'>

    <div class='container'>

        <div class="row main">
            <div class="myheading col-md-11">
                <h1 id='jon' class="font-effect-shadow-multiple">
                    <a href="./Pabico_CV_20150401.pdf" target="_blank">
                        Jon Pabico
                        <footer id='title'>Full-Stack Web Developer</footer>
                        <footer id='cv'>CV / Resume / Contact Info</footer>
                    </a>
                </h1>
            </div>
        </div>

        <div class="row main">
          
          <!-- start of left-hand column -->
          <div class="col-md-8">

                <!-- screenshot of active app -->
                <div class='main-pic-container'>
                    <div class='main-pic'>
                        <img ng-src='{{big.getAppImage(appClickNum)}}' />
                    </div>
                </div>

                <!--start of tabs and descriptions inside left-hand column-->
               <div class="row main">
                    <div class="col-md-12">

                    <!-- link to active app -->
                    <div class='visitme'>
                        <h2 class='visitors'>
                            <a href="{{big.getAppUrl(appClickNum)}}" target="_blank">
                                <p>{{big.getAppName(appClickNum)}}</p>
                            </a>
                        </h2>
                    </div>

                    <!-- tabs and panes -->
                    <section ng-controller="PanelController as panel">
                        <!-- tabs -->
                        <ul class="nav nav-pills">
                            <li role="presentation" ng-class="{active: panel.isSelected(1) }">
                                <a href ng-click="panel.selectTab(1)">Description</a>
                            </li>
                            <li role="presentation" ng-class="{active: panel.isSelected(2) }">
                                <a href ng-click="panel.selectTab(2)">Features</a>
                            </li>
                            <li role="presentation" ng-class="{active: panel.isSelected(3) }">
                                <a href ng-click="panel.selectTab(3)">Technology</a>
                            </li>
                        </ul>
                        <br/>
                        <!-- panes -->
                        <div class="panel theDescription" ng-show="panel.isSelected(1)">
                            <p>&nbsp&nbsp&nbsp{{big.getAppDescription(appClickNum)}}</p>
                        </div>

                        <div class="panel theFeatures" ng-show="panel.isSelected(2)">
                            <p>Features for <strong><em>{{big.getAppName(appClickNum)}}</em></strong> include:</p>
                            <div ng-repeat='my1feature in stuff[appClickNum].features_text'>
                                <!-- <p>{{big.getAppFeatures(appClickNum)[$index]}}</p> -->
                                <!-- <p ng-bind-html="testhtml | to_trusted"></p> -->
                                <p ng-bind-html="big.getAppFeatures(appClickNum)[$index] | to_trusted"></p>
                            </div>
                        </div>

                        <div class="panel theTechnology" ng-show="panel.isSelected(3)">
                            <p>Technologies used for <strong><em>{{big.getAppName(appClickNum)}}</em></strong> include:</p>
                            <div ng-repeat='my1technology in stuff[appClickNum].technology_text'>
                                {{big.getAppTechnology(appClickNum)[$index]}}
                            </div>
                        </div>
                    </section>

                    </div>
                </div>
                <!--end of tabs and descriptions inside left-hand column-->

<footer><p id="copyright">This portfolio is powered by Angular.js  &nbsp|&nbsp  &copy; Copyright 2015 Jon Pabico</p></footer>
          </div>
          <!-- end of left-hand column -->
          <!-- start of right-hand column -->
          <div class="col-md-3">
                    
                <h2 id='instructions'> Explore! </h2>

                <!-- thumbnails for each app - all are sized 1280 x 800-->
                <div class='thumbnails' ng-controller='GalleryController as gallery'>
                    <div ng-repeat ="my1stuff in stuff" ng-class="{'selected':$index == appClickNum}">
                       <div class="row main"  ng-click="big.setAppClickNum($index)">
                            <img ng-src="{{big.getAppImage($index)}}" />
                            <p id= 'image_name'>{{big.getAppName($index)}}</p>
                        </div>
                    </div>
                </div>

          </div>
          <!-- end of right-hand column -->

        </div>
    </div>

    <!-- Angular module -->
    <script type="text/javascript" src='app.js'></script>

  </body>
</html>

<!-- things to do -->
<!-- hover on title to show url -->
<!-- overflow scroll should be added to panel window -->
<!-- features text and technology text htmls need to be written -->
<!-- move data (myAppsInfo) to firebase ...reference angular course-->
<!-- host on firebase or github? -->
